<!DOCTYPE html>
  {% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="{%static '/style.css'%}">
    <link rel="stylesheet" href="{%static '/dashboard.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
</head>
<style>
    body {
        background-image: url("{%static 'images/img1.jpg'%}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
{% load staticfiles %}
<body>
    <div class="wrapper">                                                            <!--  wrapper class -->
                                                          <!--  side navigation panel -->
        <div class="sidenav">
            <div class="sidenav-container">
                <div class="nav-opt" style="text-align:center;">
                    <ul class="navul xx" style="text-align:center;">
                        
                        <li style="margin-top:0px;"class="nav-item "><a href="#"> &nbsp&nbsp&nbspREPORTS</a></li>
                    </ul>
                </div>
                <div style="text-align:center" class="nav-pic">
                    <img src="{%static '/images/img4.jpg'%}" alt="Flowers in Chania">
                </div>
                <hr style="width: 90%; "></hr>
                <div class="nav-options table" style="text-align: left;">
                    <ul class="navul">
                        <li class="nav-item active"><a href="#" class="nav-link"><i class="icono-user"></i> &nbsp&nbsp&nbspPROFILE</a></li>
                        <li class="nav-item "><a href="/webapp1/dashboard/2/"><i class="icono-file"></i> &nbsp&nbsp&nbspCKD TEST</a></li>
                        <li class="nav-item "><a href="#"><i href="#" class="icono-file"></i> &nbsp&nbsp&nbspCHECK RANGE</a></li>
                        <li class="nav-item "><a href="#"><i href="#" class="icono-barChart"></i> &nbsp&nbsp&nbspREPORTS</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            <!--  main content for container and nav -->
            <div class="navbar">
                <div class="navbar-ele">
                    <ul>
                        <li style="float: left"><a href="#home">HOME</a></li>
                        <li style="float: right"><a href="/webapp1/logout/">LOG OUT</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="content-container">
                {% if id == '1' %}    <!--  main content for probile ckd test/check/report goes here -->

                <div class="panel_3">
                    <div class="panel_img">
                        <div class="panel_profile_icon">
                            <img src="{%static '/images/img7.jpg'%}" alt="Flowers in Chania">
                        </div>
                    </div>

                    <div class="panel_profile">
                        <!--  PROFILE panel -->
                        <div class="profile_card1">

                            <h2>PERSONAL DETAILS</h2>
                            </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
                        </div>
                        <div class="profile_card2">
                            <div id="personal_tab1">
                                <input id="personal_button" class="btn" type="button" style="float: right" value="EDIT" />
                                <table>
                                    <tr><td>Name: </td><td>Name:Name:Name:Name </td></tr>
                                    <tr><td>Gender: </td><td>Name: </td></tr>
                                    <tr><td>Date Of Birth: </td><td>Name: </td></tr>
                                    <tr><td>Mobile: </td><td>Name: </td></tr>
                                    <tr><td>Email ID: </td><td>Name: </td></tr>
                                    <tr><td>C/O: </td><td>Name: </td></tr>
                                </table></br></br></br></br></br></br></br></br>
                            </div>
                            <div class="log-form2" id="personal_tab2">

                                <form action="/webapp1/input/" method="POST">
                                    <button id="personal_button" class="btn" type="submit" style="float: right; padding:10px 10px 10PX 10px;">SAVE CHANGES</button>
                                    <table>
                                        <tr><td>Name: </td><td><input type="text" name="age" placeholder="AGE" required /></td></tr>
                                        <tr><td>Gender: </td><td><input type="text" name="age" placeholder="AGE" required /> </td></tr>
                                        <tr><td>Date Of Birth: </td><td><input type="text" name="age" placeholder="AGE" required /> </td></tr>
                                        <tr><td>Mobile: </td><td><input type="text" name="age" placeholder="AGE" required /> </td></tr>
                                        <tr><td>Email ID: </td><td><input type="text" name="age" placeholder="AGE" required /></td></tr>
                                        <tr><td>C/O: </td><td><input type="text" name="age" placeholder="AGE" required /> </td></tr>

                                        <tr><td>Profile Photo:  </td><td><label class="custom-file" l><input type="file" name="age" placeholder="Uplaod" required />Choose File</label></td></tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel_profile">
                        <!--  Address panel -->
                        <div class="profile_card1">

                            <h2>ADDRESS</h2>
                            </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
                        </div>
                        <div class="profile_card2">
                            <div id="address_tab1">
                                <input id="address_button" class="btn" type="button" style="float: right" value="EDIT" />
                                <table>
                                    <tr><td>Address Line 1: </td><td>Name:Name:Name:Name </td></tr>
                                    <tr><td>Address Line 2: </td><td>Name: </td></tr>
                                    <tr><td>City: </td><td>Name: </td></tr>
                                    <tr><td>State: </td><td>Name: </td></tr>
                                    <tr><td>Postal Code: </td><td>Name: </td></tr>
                                </table></br></br></br></br></br></br></br></br>
                            </div>
                            <div class="log-form2" id="address_tab2">

                                <form action="/webapp1/input/" method="POST">
                                    <button id="address_button" class="btn" type="submit" style="float: right; padding:10px 10px 10PX 10px;">SAVE CHANGES</button>
                                    <table>
                                        <tr><td>Name: </td><td><input type="text" name="age" placeholder="AGE" required /></td></tr>
                                        <tr><td>Gender: </td><td><input type="text" name="age" placeholder="AGE" required /> </td></tr>
                                        <tr><td>Date Of Birth: </td><td><input type="text" name="age" placeholder="AGE" required /> </td></tr>
                                        <tr><td>Mobile: </td><td><input type="text" name="age" placeholder="AGE" required /> </td></tr>
                                        <tr><td>Email ID: </td><td><input type="text" name="age" placeholder="AGE" required /></td></tr>
                                    </table>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="panel_profile">
                        <!--  MEDICAL panel -->

                        <div class="profile_card1">

                            <h2>ADDRESS</h2>
                            </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
                        </div>
                        <div class="profile_card2">
                            <div id="address_tab1">
                                <input id="address_button" class="btn" type="button" style="float: right" value="EDIT" />
                                <table>
                                    <tr><td>Address Line 1: </td><td>Name:Name:Name:Name </td></tr>
                                    <tr><td>Address Line 2: </td><td>Name: </td></tr>
                                    <tr><td>City: </td><td>Name: </td></tr>
                                    <tr><td>State: </td><td>Name: </td></tr>
                                    <tr><td>Postal Code: </td><td>Name: </td></tr>
                                </table></br></br></br></br></br></br></br></br>
                            </div>
                            <div class="log-form2" id="address_tab2">

                                <form action="/webapp1/input/" method="POST">
                                    <button id="address_button" class="btn" type="submit" style="float: right; padding:10px 10px 10PX 10px;">SAVE CHANGES</button>
                                    <table>
                                        <tr><td>Name: </td><td><input type="text" name="age" placeholder="AGE" required /></td></tr>
                                        <tr><td>Gender: </td><td><input type="text" name="age" placeholder="AGE" required /> </td></tr>
                                        <tr><td>Date Of Birth: </td><td><input type="text" name="age" placeholder="AGE" required /> </td></tr>
                                        <tr><td>Mobile: </td><td><input type="text" name="age" placeholder="AGE" required /> </td></tr>
                                        <tr><td>Email ID: </td><td><input type="text" name="age" placeholder="AGE" required /></td></tr>
                                    </table>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div style="height:50px;" class="padding-div">

                    </div>

                </div>

                {% elif id == '2' %}                                <!--CKD TEST-->

                <div style="background: transparent" class="panel_1">
                    <div class="log-form">
                        <h2>PLEASE ENTER FOLLOWING DETAILS</h2>
                        <form action="/webapp1/input/" method="POST">
                            <input type="text" name="age" placeholder="AGE" required />
                            <input type="text" name="albumin" placeholder="ALBUMIN" required />
                            <input type="text" name="rbc" placeholder="RED BLOOD CELLS" required />
                            <input type="text" name="bgr" placeholder="BLOOD GLUCOSE RANDOM" required />
                            <input type="text" name="urea" placeholder="BLOOD UREA" required />
                            <input type="text" name="creatinine" placeholder="CREATININE" required />
                            <input type="text" name="sodium" placeholder="SODIUM LEVEL" required />
                            <input type="text" name="potassium" placeholder="POTASSIUM LEVEL" required />
                            <input type="text" name="haemoglobin" placeholder="HAEMOGLOBIN" required />
                            <input type="text" name="wbcc" placeholder="WHITE BLOOD CELL COUNT" required />
                            <input type="text" name="rbcc" placeholder="RED BLOOD CELL COUNT" required />
                            <input type="text" name="hypertension" placeholder="HYPERTENSION" required />
                            <input type="text" name="diabetes" placeholder="DIABETES MELLITIUS" required />
                            <button type="submit" class="btn">SUBMIT DETAILS</button>
                        </form>
                    </div><!--end log form -->
                </div>
                <div class="panel_2">
                    <h2>ALBUMIN</h2>
                    <p> Albumin is a protein found in the blood. A healthy kidney doesn't let albumin pass from the blood into the urine. A damaged kidney lets some albumin pass into the urine</p>
                    <h2>RED BLOOD CELLS</h2>
                    <p> Healthy kidneys produce a hormone called EPO. EPO prompts the bone marrow to make red blood cells, which then carry oxygen throughout the body. When the kidneys are diseased or damaged, they do not make enough EPO. As a result, the bone marrow makes fewer red blood cells, causing anemia.</p>
                    <h2>BLOOD GLUCOSE RANDOM</h2>
                    <p> Blood glucose targets for hospitalized patients with diabetes or stress hyperglycemia should be less than 140 mg/dL before meals, and random values should be less than 180 mg/dL. ... Many insulin-treated patients with type 2 diabetes and CKD stop needing insulin as kidney disease progresses.</p>
                    <h2>BLOOD UREA</h2>
                    <p> The blood urea nitrogen (BUN) and serum creatinine levels will be elevated in patients with CKD. Hyperkalemia or low bicarbonate levels may be present. Serum albumin levels may also be measured, as patients may have hypoalbuminemia as a result of urinary protein loss or malnutrition</p>
                    <h2>CREATININE</h2>
                    <p> The blood urea nitrogen (BUN) and serum creatinine levels will be elevated in patients with CKD. Hyperkalemia or low bicarbonate levels may be present. Serum albumin levels may also be measured, as patients may have hypoalbuminemia as a result of urinary protein loss or malnutrition</p>
                    <h2>SODIUM LEVEL</h2>
                    <p> If you're in the early stages of CKD, your doctor and dietitian will monitor your blood pressure. Sodium restriction is recommended if blood pressure is high or if you are retaining fluid. ... Controlling sodium intake will help avoid cramping and blood pressure drops during dialysis.</p>
                    <h2>POTASSIUM LEVEL</h2>
                    <p> Some of the effects of low potassium include muscle weakness, cramping and fatigue. When kidneys fail they can no longer remove excess potassium, so the level builds up in the body. High potassium in the blood is called hyperkalemia, which may occur in people with advanced stages of chronic kidney disease (CKD).</p>

                </div>
                {% elif id == '3' %}
                
                <div class="panel_4">
                    <a href=# class="save-button"><i class="icono-bookmark"></i></a>
                    <div class="panel_4_head">
                        <h2>
                            SOME ORGANIZATION<h2>
                                <h3>
                                    _____ Bangalore, 562157 _____<h3>

                                        <div class="panel_4_head_table">
                                            <table class="table_1">
                                                <tr><td>Patient ID:</td></tr>
                                                <tr><td>Name:</td></tr>
                                                <tr><td>Lab Ref. No.:</td></tr>
                                            </table>
                                        </div>

                                        <div style="float:right;" class="panel_4_head_table">
                                            <table class="table_1">
                                                <tr><td>Date: 666666666</td></tr>
                                            </table>
                                        </div>


                    </div>
                    <hr style="margin-top: 130px; width: 80%;">
                    <div style="width:100%; display: inline-block; position: relative;"><h3 style="float:left; padding-left:10px;">Range</h3></div>

                    <div class="panel_4_body">
                        <div class="panel_4_body_card">
                            <img src="{%static '/images/range/albumin1.jpeg'%}" />
                            <input type="range" min="10" max="60" value="35" class="slider2" id="myRange" disabled>
                            <img src="{%static '/images/range/albumin2.jpeg'%}" />
                            <h3>Albumin value: something g/L m<sup>2</sup></h3>
                        </div>
                        <div class="panel_4_body_card">
                            <img src="{%static '/images/range/gfr1.png'%}" />
                            <input type="range" min="5" max="120" value="45" class="slider" id="myRange" disabled>
                            <img src="{%static '/images/range/gfr2.png'%}" />
                            <h3>GFR value: something mL/min/1.73 m<sup>2</sup></h3>
                        </div>

                    </div>
                    <div class="panel_4_body">

                        <div class="panel_4_body_card">
                            <img src="{%static '/images/range/diab1.png'%}" />
                            <input type="range" min="0" max="500" value="300" class="slider" id="myRange" disabled>
                            <img src="{%static '/images/range/diab2.png'%}" />
                            <h3>Diabetes: something mg/dl</h3>
                        </div>
                        <div class="panel_4_body_card">
                            <img src="{%static '/images/range/haem1m.png'%}" />
                            <input type="range" min="0" max="20" value="10" class="slider3" id="myRange" disabled>
                            <img src="{%static '/images/range/haem2m.png'%}" />
                            <h3>Haemoglobin: something g/dL</h3>
                        </div>
                    </div>
                </div>

                {% endif%}
            </div>
                
        </div>
    </div>
</body>

<head>
<script type="text/javascript" src="{%static '/dashboard.js'%}"></script>
 </head> 
</html>