<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{%static '/login.css'%}">

    <!--Changes-->
    <link rel="stylesheet" href="{%static '/bootstrap.css'%}">
    <link rel="stylesheet" href="{%static '/home-style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    {% load staticfiles %}
    <script type="text/javascript" src="{%static '/login.js'%}"></script>

</head>

<body>
    {% if logged == 0%}
    <script>
        alert('Login Failed! Username Password do not match');
    </script>
    {%endif%}

    {% if exist == 1%}
    <script>
        alert('Username already exist! Try with some different Username');
    </script>
    {%elif exist == 0%}
    <script>
        alert('SignUp Successful. Login to continue ');
    </script>
    {%endif%}

    {% if notlogged == 1%}
    <script>
        alert('You are not logged in currently. Log in to access the page.');
    </script>
    {%endif%}

    <!--<div class="navbar">
        <div class="navbar-ele">
            <ul>
                <li style="float: left"><a href="/webapp1/home/">HOME</a></li>
                <li style="float: right"><a href="/webapp1/home/aboutus/">REACH US OUT</a></li>
            </ul>
        </div>
    </div>-->
    <!-- changes -->
    <nav style="height:100px;" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li style="padding-left:20px;" class="nav-item active">
                    <a class="navbar-brand" href="/webapp1/home/"><i class="fas fa-home"></i> HOME</a>
                </li>
                <li style="padding-left:20px;"><a class="navbar-brand" href="/webapp1/home/ckdcare/"><i class="fas fa-hand-holding-heart"></i> KIDNEY DISEASE CARE</a></li>
                <li style="padding-left:20px;"><a class="nav-link" href="/webapp1/home/guidelines/">GUIDELINES</a></li>
            </ul>
            <!--style=" margin-right:80px;" removed from here-->
            <form class="form-inline my-2 my-lg-0">
                <ul style="text-align:right;float:right" ; class="navbar-nav mr-auto">
                    <li><a class="navbar-brand" href="/webapp1/home/aboutus/"> REACH US OUT</a></li>
                </ul>
                <!--
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SIGN IN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/webapp1/login/">User Log In</a>
                        <a class="dropdown-item" href="#">Doctor Log IN</a>
                    </div>
                </div>-->
                <!-- changes end here-->
            </form>
        </div>
    </nav>

    <div class="login">
        <div class="wrap">
            <!-- TERMS -->
            <!-- RECOVERY -->
            <!-- SLIDER -->
            <div class="content">
                <!-- LOGO -->
                <!-- SLIDESHOW -->
                <div id="slideshow">
                    <div class="one">
                        <h2><span>REPORTS</span></h2>
                        <p>Sign up and check your kidney's Health</p>
                    </div>
                    <div class="two">
                        <h2><span>LEARNING</span></h2>
                        <p>Our System is continuously learning</p>
                    </div>
                    <div class="three">
                        <h2><span>RESEARCH</span></h2>
                        <p>We are working hard to connect to doctors to give best services.</p>
                    </div>
                    <div class="four">
                        <h2><span>DASHBOARD</span></h2>
                        <p>Manage all your Medical health reports in one place.</p>
                    </div>
                </div>
            </div>
            <!-- LOGIN FORM -->
            <div class="user">
                <div class="form-wrap">
                    <!-- TABS -->
                    <div class="tabs">
                        <h3 class="login-tab"><a class="log-in active" href="#login-tab-content"><span style="font-size:25px">Login</span></a></h3>
                        <h3 class="signup-tab"><a class="sign-up" href="#signup-tab-content"><span style="font-size:25px">Sign Up</span></a></h3>
                    </div>
                    <!-- TABS CONTENT -->
                    <div class="tabs-content">
                        <!-- TABS CONTENT LOGIN -->
                        <div id="login-tab-content" class="active">
                            <form class="login-form" action="/webapp1/doc_login/" method="POST">
                                <input type="text" class="input" name="username" id="user_login" autocomplete="off" placeholder="Email or Username" required>
                                <input type="password" class="input" name="password" id="user_pass" autocomplete="off" placeholder="Password" required>
                                <input type="checkbox" class="checkbox" checked id="remember_me">
                                <label for="remember_me">Remember me</label>
                                <input type="submit" class="button" value="Login">
                            </form>
                        </div>
                        <!-- TABS CONTENT SIGNUP -->
                        <div id="signup-tab-content">
                            <form class="signup-form" action="/webapp1/doc_signup/" method="post">
                                <input type="email" class="input" name="email" id="user_email" autocomplete="off" placeholder="Email" required>
                                <input type="text" class="input" name="username" id="user_name" autocomplete="off" placeholder="Username" required>
                                <input type="password" class="input" name="password" id="user_pass" autocomplete="off" placeholder="Password" required>
                                <input type="submit" class="button" value="Sign Up">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</body>

</html>
