
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c2c2c2;
    opacity: 1; /* Firefox */
}
.panel_profile::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
}
.img-container
{
  text-align: center;
  height: 100%;
  background-image: url("/images/img1.png");
}
html,body
{
  margin:0px !important;
  padding:0px !important;
}
body {
  overflow-x: hidden;
}
.top_blue{
  position:fixed; z-index:9999; top:0px; width:100%; height:5px; background:#b7d7e8;
}

.container
{
  width: 100%;height: auto;
  float: left;text-align: center;overflow: hidden;
}

.panel_2, .panel_1, .panel_4 {
    margin-top: 40px; margin-right:2.5%;
    width: 52%; height: auto;float: right;color: #ffffff;
    background-color: rgba(84,84,84,0.6);position: relative;
    box-shadow: 14px 14px 14px rgba(0,0,0,0.8), 10px 10px 10px rgba(0,0,0,0.8);
    margin-bottom: 90px;
}

.save-button{padding: 5px; float: right; border: 1px solid lightgrey; margin-right:-39px; margin-top:1px;}

.panel_4{
    width: 90%; margin-right: 5%; background-color: #fff;color:rgba(84,84,84,1);
    padding:0 40px 40px 40px; font-family: "Lucida Console", Monaco, monospace; overflow:auto;
}

.panel_4_head{text-align: center; font-size: 16px; margin-top:60px;}

.panel_4_body,.panel_4_body_card{display:inline-block; position: relative; width: 95%; text-align: center; margin-right:10px;}
.panel_4_body_card{width:46%; margin-top:20px;float: right;}
.panel_4_head h2{ font-size: 28px;}

.panel_4_body_card img{width:100%;}

.panel_1
{
    width: 40%;float: left;margin-left: 2.5%;
}
@font-face {
  font-family: 'Open Sans';font-style: normal;
  font-weight: 300;src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v13/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMQg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url(https://fonts.gstatic.com/s/opensanscondensed/v13/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuXMQg.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
.log-form{
    width: 100%;background-color: rgba(84,84,84,0.6);
    position: relative;text-align: center;
    box-shadow:  10px 10px 10px rgba(0,0,0,0.8);
}

.panel_3 {
    width: 85%;margin-left: 7.5%;margin-right: 7.5%;
    position: relative; height: auto; margin-top: 80px;text-align: right;
}

.panel_img, .panel_profile, .panel_profile_icon {
    width: 100%;position: relative;
    display: inline-block; height: 200px;
    overflow: hidden;border: 1.5px #c3c3c3 solid;border-radius:10px;
}

.panel_img {
    background-image: url("images/img6.jpg"), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.1));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel_profile_icon
{
    height:125px;display:block;position: absolute;
    width: 125px;float:left;margin-top: 38px;
    margin-left: 3.5%;
}
.panel_profile {
    height: auto;
    background-color: transparent;
}

.panel_img img
{
   width: 100%;
}

@media (max-width: 40em) {
  .log-form {
    width: 90%; position: relative;
    margin: 2.5% auto 0 auto; left: 0%;-webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%); -o-transform: translate(0%, 0%);-ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.log-form form {
  display: block;
  width: 100%;
  padding: 1.4em;
}
.log-form h2 {
    font-family: "open sans condensed";    font-size: 1.35em;    display: block;    color: #fff;
    background-color: rgba(32,141,255,0.4);    width: 100%;
    text-transform: uppercase;    padding: 0.75em 1em 0.75em 1.5em;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid #9fceff;    margin: 0;    font-weight: 200;
}

.panel_2 h2
{
  font-family: "open sans condensed";  font-size: 1.35em;  display: block;
  background-color: rgba(32,141,255,0.4);  width: 40%;
  text-transform: uppercase;  padding: 10px 10px 10px 40px;  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  border: 1px solid #9fceff;  margin: 0;  font-weight: 200;
}
.panel_2 p
{
  font-family: "open sans condensed";
  font-size: 1.35em;  display: block;  padding: 10px 40px 20px 40px;
  margin: 0;  font-weight: 200;  text-align: justify;
}
.log-form input {
  display: block; font-size: 15px; margin: auto auto;
  width: 100%; margin-bottom: 2em; border: none;
  padding: 0.5em 0; border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em; background: transparent; color: white;
}

.log-form2 input{
  display: inline-block; position:relative; font-size: 15px; margin: auto auto; padding:8px 8px; float: left;
  width: 200px; margin-bottom: none; border: none; background: transparent; color: transparent; border-bottom: 1px solid grey;
}
.log-form input:focus {
    outline: none;
}
.log-form .btn {
    display: inline-block; background: rgba(32,141,255,0.3);
    border: 1px solid #1ba0a9; padding: 0.5em 2em;
    color: #d8d8d8;margin-right: 0.5em;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
    .log-form .btn:hover {
        background: rgba(32,141,255,0.6);
    }
    .log-form .btn:active {
        background: rgba(32,141,255,0.6);
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    }
.log-form .btn:focus {
  outline: none;
}
#personal_button,#address_button {
    display: inline-block; background: rgba(32,141,255,0.3);
    border: 1px solid #1ba0a9; padding: 0.5em 2em;
    color: #d8d8d8;
    margin: 10px 20px 0 0;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

#personal_button:hover, #address_button:hover  {
    background: rgba(32,141,255,0.6);
}

.profile_card1, .profile_card2 {
    width: 28%; position: relative; background: transparent;
    display: inline-block; height: 100%; height:400px;
    max-height:450px; border: 2px solid rgba(0,0,0,0);
    float: left; padding-top: 140px; color: #bebebe;
    font-family: "Lucida Console"; font-size: 16px; text-align: center;
    background-image: linear-gradient(to left,rgba(0,0,0,0.7), rgba(0,0,0,0.1));

}
.profile_card2 {
    width: 72%;padding: 50px 0 60px 0; text-align: left; background:rgba(0,0,0,0.8);
    overflow-x:hidden; overflow-y:hidden; 
}

#personal_tab2,#address_tab2
{
    display: none;
}

#personal_tab2, #personal_tab1, #address_tab1,#address_tab2
{
    position: relative; width: 80%;
    margin: 0 10% 0 10%; font-size:20px;
    background: transparent;

}

.log-form2 input[type=file]{
    display:none;
}

.custom-file
{
    border: 1px solid #ccc;display: inline-block;padding: 6px 6px;cursor: pointer; 
}

.table_1{ float: left; display:inline-block; position:relative; text-align: left; }
.table_1 td{ padding:5px;}

.slider, .slider2, .slider3 {
    -webkit-appearance: none;width: 95.5%;
    height:0px; background: #d3d3d3;
    outline: none; opacity: 0.7;
    -webkit-transition: .2s; transition: opacity .2s;
}

.slider2{ width:94.5%;margin-left:-2px;}
.slider3{ width:96%;}
.slider:hover {opacity: 1;}

.slider::-webkit-slider-thumb, .slider2::-webkit-slider-thumb, .slider3::-webkit-slider-thumb {
   -webkit-appearance: none;appearance: none; width: 10px; height: 10px;
   margin-top: -10px; background: transparent; cursor: pointer; border-left: 7.5px solid transparent;
   border-right: 7.5px solid transparent; border-top: 15px solid #555;
}
