
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c2c2c2;
    opacity: 1; /* Firefox */
}

.img-container
{
  text-align: center;
  height: 100%;
  background-image: url("/images/img1.png");
}
html,body
{
  margin:0px !important;
  padding:0px !important;
}
body {
  overflow-x: hidden;
}
.top_blue{
  position:fixed; z-index:9999; top:0px;
  width:100%; height:5px; background:#b7d7e8;
}

.container
{
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  display:inline-block;
  overflow: hidden;
}
.panel_1
{
  margin-top: 0px;
  width: 40%;
  height: auto;
  float: left;
  display: block;
  background-color: transparent;
  position: relative;
}
.panel_2 {
    margin-top: 40px;
    margin-right: 3%;
    width: 57%;
    height: auto;
    float: right;
    display: block;
    color: #ffffff;
    background-color: rgba(84,84,84,0.6);
    position: relative;
    box-shadow: 14px 14px 14px rgba(0,0,0,0.8), 10px 10px 10px rgba(0,0,0,0.8);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v13/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMQg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url(https://fonts.gstatic.com/s/opensanscondensed/v13/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuXMQg.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
.log-form {
    width: 85%;
    min-width: 320px;
    background-color: rgba(84,84,84,0.6);
    position: absolute;
    margin-top: 590px;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow:  10px 10px 10px 10px rgba(0,0,0,0.8);
}


@media (max-width: 40em) {
  .log-form {
    width: 90%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.log-form form {
  display: block;
  width: 100%;
  padding: 1.4em;
}
.log-form h2 {
    font-family: "open sans condensed";
    font-size: 1.35em;
    display: block;
    color: #fff;
    background-color: rgba(32,141,255,0.4);
    width: 100%;
    text-transform: uppercase;
    padding: 0.75em 1em 0.75em 1.5em;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid #9fceff;
    margin: 0;
    font-weight: 200;
}

.panel_2 h2
{
  font-family: "open sans condensed";
  font-size: 1.35em;
  display: block;
  background-color: rgba(32,141,255,0.4);
  width: 40%;
  text-transform: uppercase;
  padding: 10px 10px 10px 40px;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  border: 1px solid #9fceff;
  margin: 0;
  font-weight: 200;
}
.panel_2 p
{
  font-family: "open sans condensed";
  font-size: 1.35em;
  display: block;
  padding: 10px 40px 20px 40px;
  margin: 0;
  font-weight: 200;
  text-align: justify;
}
.log-form input {
  display: block;
  font-size: 15px;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  background: transparent;
  color: white;
}
.log-form input:focus {
  outline: none;
}
.log-form .btn {
    display: inline-block;
    background: rgba(32,141,255,0.3);
    border: 1px solid #1ba0a9;
    padding: 0.5em 2em;
    color: #d8d8d8;
    margin-right: 0.5em;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
    .log-form .btn:hover {
        background: rgba(32,141,255,0.6);
    }
    .log-form .btn:active {
        background: rgba(32,141,255,0.6);
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    }
.log-form .btn:focus {
  outline: none;
}
